absl-py==2.3.0
adafruit-io==2.8.0
astunparse==1.6.3
backports.tarfile==1.2.0
bidict==0.23.1
black==23.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
CounterFit==0.1.4.dev9
counterfit-connection==0.1.0.dev5
counterfit-shims-grove==0.1.4.dev5
counterfit-shims-serial==0.1.0.dev3
cryptography==45.0.3
dnspython==2.7.0
docutils==0.21.2
eventlet==0.33.3
Flask==2.1.2
Flask-SocketIO==5.2.0
flatbuffers==25.2.10
gast==0.6.0
git-filter-repo==2.47.0
google-pasta==0.2.0
greenlet==3.2.2
grpcio==1.71.0
h11==0.16.0
h5py==3.13.0
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
keras==3.10.0
keyring==25.6.0
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.7.0
mypy_extensions==1.1.0
namex==0.1.0
nh3==0.2.21
numpy==1.26.4
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
paho-mqtt==2.1.0
pathspec==0.12.1
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==4.3.8
protobuf==5.29.5
pycparser==2.22
Pygments==2.19.1
pynmea2==1.19.0
python-engineio==4.12.1
python-socketio==5.13.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
SecretStorage==3.3.3
simple-websocket==1.1.0
six==1.17.0
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tflite-runtime==2.14.0
twine==4.0.2
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==2.3.8
wrapt==1.17.2
wsproto==1.2.0
zipp==3.22.0
